header{
  background: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.commentList{
  margin-top: 75px;
  position: relative;
  z-index: 1;
}

.comment{
  padding: 15px;
}
.comment-row:nth-child(2n) .comment{
  background: #eee;
}


@keyframes fade {
    from {opacity: 1;}
    to {opacity: .25;}
}

.commentForm{
  margin-top: 50px;
  padding-bottom: 10px;
  background: #eee;
}

input[type=text],textarea{
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.alert{
  animation-name: fade;
  animation-duration: 5s; // half of intervalProp in JS
}

input[disabled],textarea[disabled]{
  opacity: .5;
}